<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="index.html">KernelSentry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="how-it-works.html">How It Works</a></li>
        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>
      <a href="https://github.com/yourusername/kernelsentry" class="btn btn-outline-light ms-3" target="_blank">GitHub</a>
    </div>
  </div>
</nav>